* {
  margin: 0;
  padding: 0;
}
body {
  background:#ccc url(https://i.loli.net/2018/07/17/5b4d42e5b8550.jpeg) no-repeat center center;
  background-size: cover;
}
main {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title {
  position: absolute;
  bottom: 20%;
  font-size: 36px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 30px#FF0000;
}
.wrapper {
  display: inline-block;
}
a {
  text-decoration: none;
}
kbd {
  width: 4em;
  height: 4em;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-right: 16px;
  font-size: 36px;
}
kbd button {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #aaa;
  display: none;
}
kbd:hover button {
  display: inline-block;
}
main div:nth-child(2) {
  margin-left: .1em;
}

main div:nth-child(3) {
  margin-left: -60px;
}
.key {
  width: 100px;
  height: 80px;
  background: linear-gradient(to bottom, #292929 0%, #111 100%);
  color: #c5c5c5;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 
  0 2px #080808;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  background: rgba(0,0,0,.3);
  padding: 20px 20px 40px 37px;
  border-radius: 10px;
}
.row {
   margin-top: 20px;
}
.key img {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 3px;
}